html,
body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

.container {
  margin: 0 auto;
  background-color: rgb(241, 172, 186);
  box-shadow: 0 26px 41px 0 #d4dae0;
  width: 50vw;
  height: 53vh;
  padding: 0.8rem;
  border-radius: 15px;
  margin-top: 4rem;
  min-width: 260px;
  min-height: 330px;
}

.title {
  text-align: center;
  margin-top: 5rem;
  vertical-align: middle;
  color: rgb(49, 124, 124);
}

#screen {
  background-color: #d1e0e0;
  padding: 1.5rem;
  border-radius: 10px;
  margin: 0 auto;
  height: 2vh;
  text-align: right;
  font-size: x-large;
  font-weight: bolder;
  color: rgb(49, 124, 124);
  overflow: hidden;
}

.main-keys {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  margin-top: 10px;
  height: 42vh;
  border-radius: 15px;
}

button {
  font-family: "Poppins", sans-serif;
  width: 70px;
  align-items: center;
  vertical-align: middle;
  height: 6vh;
  margin: 0 auto;
  background-color: white;
  border-color: white;
  font-size: x-large;
  outline: none;
  border: none;
  text-align: center;
}

.orange {
  color: lightcoral;
}

.credit {
  text-align: center;
  margin-top: 6rem;
  font-size: large;
}

.heart {
  color: rgb(241, 172, 186);
}

button:active {
  background-color: rgb(255, 231, 236);
  border-radius: 60px;
}

@media (min-width: 40rem) {
  .container {
    width: 44vw;
    height: 51vh;
    max-width: 1000px;
    margin-top: 5rem;
    max-width: 310px;
  }

  #screen {
    padding: 1.5rem;
    border-radius: 10px;
    margin: 0 auto;
    height: 2vh;
    text-align: right;
  }

  button {
    margin: 0 0.5rem;
    text-align: center;
    padding: 0.5rem 1.5rem;
  }
}
